.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  width: 190px;
  height: 190px;
}

.profile__name {
  margin: 0 0 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}
.profile__description {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0;
  color: rgba(33, 33, 33, 70%);
  width: 420px;
  height: 48px;
  padding-bottom: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__edit-btn {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0;
  margin-top: 0;
  color: #212121;
  opacity: 70%;
  border: none;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  max-width: fit-content;
  cursor: pointer;
}

.profile__edit-btn:hover {
  color: #212121;
}

.profile__add-btn {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0;
  margin-left: auto;
  border-radius: 8%;
  width: 149px;
  height: 52px;
  margin-top: 138px;
  background-color: #212121;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.profile__add-btn:hover {
  background-color: rgba(33, 33, 33, 80%);
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__name {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__description {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 32px;
    max-width: 288px;
  }

  .profile__column {
    margin-bottom: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
    cursor: pointer;
  }

  .profile__edit-btn {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0;
    border: none;
    color: #212121;
    opacity: 70%;
    margin: 0 90px;
    white-space: nowrap;
  }
}
